---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="3rem" gradient />
    
		<h2>Back-end</h2>
    <p> Ruby on Rails 7<s></s></p>
    <p> PHP 7<s></s></p>
    <p>Node.js<s></s></p>
	</div>
  <div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="3rem" gradient />
		<h2>Front-end</h2>
    <p> HTML & CSS<s></s></p>
    <p> JavaScript - Stimulus<s></s></p>
    <p> Bootstrap - Hotwire - Turbo<s></s></p>
    <p>Node.js<s></s></p>
	</div>

<div class="stack gap-2 lg:gap-4">
  <Icon icon="terminal-window" color="var(--accent-regular)" size="3rem" gradient />
  <h2>Data base</h2>
  <p>  SQL queries, Active Record, PostgreSQL <s></s></p>
  <p>  Fetching and using data from an API.<s></s></p>
  <p>  MySQL - PHP My admin<s></s></p>
  <p>  MVC wireframing<s></s></p>
</div>

</section>


<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
    text-align: center;
	}
  .box2 {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
    display: flex;
    align-items: center;
    text-align: center;
  }
 .stack {
  text-align: center;
  align-items: center;
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
